*{
    font-family: 'Open Sans', Arial, sans-serif;
    border: 1px solid black;
}
html{
    display: flex;
    justify-content:center;
    width: 100%;
    min-height: 100%;
    background-image: url(img/dummy-img.png);
    background-size:cover ;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    display: flex;
    width: 70%;
    min-height: 100%;
      
}
#cabecera{
    background-image:url(img/simple-house-01.jpg);
    color: white; 
}
.welcometext, .plato > p{
    color:rgb(88, 88, 88);    
}
.listaplatos{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 85%;
    height: 70em;
}
.plato > div{
    width: 100%;
    height: 60%;
}
.plato > h4{
    font-size: 1.3rem;
    font-weight: 400;
    color: #1A6692;
    margin-bottom: 15px;
}
.plato{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 23%;
    height: 50%;
}
.precio{
    color: #2F956D;
    font-size: 1.25rem;
}
