*{
    font-family: 'Open Sans', Arial, sans-serif;
    border: 1px solid black;
}
html{
    display: flex;
    justify-content:center;
    width: 100%;
    min-height: 100%;
    background-image: url(img/dummy-img.png);
    background-size:cover ;
}
body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: white;
    display: flex;
    width: 70%;
    min-height: 100%;
      
}
#cabecera{
    display: flex;
    flex-direction:row;
    align-items: flex-end;
    justify-content:space-between;
    width: 100%;
    height: 25em;
    background-image:url(img/simple-house-01.jpg);
    color: white; 
}
#menu , #logo{
    margin: 2em;
}

#logo{
    flex-direction:row;
    width: 30%;
    display: flex;
    justify-content:space-between;
}

.welcometext, .plato > p{
    color:rgb(88, 88, 88);    
}
.welcometext{
    position: relative; 
}
.welcome , .welcometext{
    text-align: center;
}

.listaplatos{
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    width: 85%;
    height: 55em;
}
.plato >div> img {
    max-width: 100%;
    object-fit:contain;
}
.plato > div{
    width: 100%;
    height: 60%;
}
.plato >div > h4{
    font-size: 1.3rem;
    font-weight: 400;
    color: #1b6894;
    margin-bottom: 15px;
}
.plato{
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    width: 23%;
    height: 40%;
}
.precio{
    color: #2f956cf5;
    font-size: 1.25rem;
}
